@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    black;
};
@plugin "daisyui/theme" {
  	name: "dark";
  prefersdark: true;

  --color-primary: rgb(29, 155, 240);
  --color-secondary: rgb(24, 24, 24);
}